<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur soluta quae, dignissimos neque obcaecati perferendis dolorum ad. Inventore quam voluptate obcaecati, laborum magnam eligendi consectetur eos qui officiis totam adipisci?</p>
    <p class="text-xs">Número de clientes:  <app-counter [duration]="duration()" [message]="message()"></app-counter></p>
    <app-wave-audio audioUrl="assets/audio.mp3"/>
</div>
